body {
    font-family: sans-serif;
    color:inherit;
    background-color:blue;
    background-color: hsl(120, 60%, 70%);
    margin-top: 10px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    width: 600px;
    height:300px;
    float: right;
    margin: 10px;
    border-radius:8px;
}

.container{
	margin-top: 10px;
	color: red;
	padding-left: 20px;
	padding-right: 20px;
	font-family: "courier new";
	font-size: 20px;
}

